@font-face {
  font-family: 'fmderanax';
  src: url('fonts/fm_derana-webfont.woff2') format('woff2'),
    url('fonts/fm_derana-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* font-family: 'fmderanax'; */
}

.main_container {
  width: 100%;
  background: #032434;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 10px;
  border: 2px solid #fff;
  min-width: 350px;
  font-family: 'fmderanax';
  color: #fff;
}
.input_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
label {
  display: inline-block;
  width: 100px;
  font-size: 23px;
  font-weight: bold;
}
.form_input {
  display: inline-block;
  width: 88%;
  height: 50px;
  background: none;
  outline: none;
  border: 2px solid #fff;
  padding: 10px;
  color: white;
  font-size: 16px;
}

.submit_btn {
  display: block;
  margin: 40px auto 0px auto;
  width: 100px;
  font-family: 'fmderanax';
  color: white;
  font-size: 25px;
  border-radius: 20px;
}
.submit_btn:hover {
  background: white;
  color: #032434;
  border-color: #535e63;
  transition: 0.5s ease-out;
}
.action_container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  padding: 50px 10px;
  border: 2px solid #fff;
  min-width: 350px;
  font-family: 'fmderanax';
  color: #fff;
}
.action_btn {
  display: block;
  background: none;
  width: 200px;
  padding: 10px;
  margin: 10px;
  border: 2px solid #fff;
  font-family: 'fmderanax';
  color: white;
  font-size: 20px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}
.action_btn:hover {
  background: white;
  color: #032434;
  border-color: #535e63;
  transition: 0.5s ease-out;
}
.hidden_field {
  display: none;
}

.card_container {
  position: relative;
  width: 350px;
  height: 500px;
}
@media screen and (min-width: 768px) {
  .main_container {
    height: 100vh;
  }
}
.card {
  box-shadow: 1rem 2rem 3rem rgb(0 0 0 / 25%);
  width: 100%;
  height: 100%;
}
.card_back {
  background: white;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'fmderanax';
  opacity: 1;
}
.card_front {
  background: url('../images/img4.png');
  z-index: 2;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: all 1s 0.3s;
  transform-origin: 0 50%;
}
.card_front::after {
  content: '';
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: rotateY(180deg);
  transition: all 0.3s 0.5s;
}
.card:hover .card_front {
  opacity: 0;
}
@media screen and (min-width: 1100px) {
  .card:hover .card_front {
    opacity: 1;
    transform: rotateY(-180deg);
    box-shadow: 1.5rem 2rem 3rem rgba(0, 0, 0, 0.25);
  }
}
.card:hover .card_front::after {
  opacity: 1;
}

.img {
  display: block;
  width: 250px;
  height: 250px;
}
.quote {
  font-size: 22px;
  font-weight: bold;
}
.header_qoute {
  font-size: 26px;
}
.user {
  margin-top: 10px;
}
#from,
#to {
  outline: none;
  background: none;
  border: none;
  border-bottom: 2px dotted black;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}
.user_input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.user_input label {
  width: 50px;
  text-align: right;
}
